.login-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}

.login-error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-button {
    width: 10%;
    padding: 10px 0;
    color: white;
    background-color: #4da3ff;
    border: none;
}

.register-link a {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.2s;
}